body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-image: url("club_header.jpg");
    color: whitesmoke;
    text-align: center;
    height: 50px;
    font-size: 25px;
}
nav ul a{
    display: inline-block;
    padding: 10px 0 10px 0;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in ;
    
}
nav ul a:hover{
    background-color: #fccae9d7 ;
    color: rgb(236, 48, 142);
    
}
nav li{
    display: inline-block;
    margin-right: 1rem;
}
button{
    border-radius: 5px;
    background-image: url("club_header.jpg");
    color: whitesmoke;
}

button:hover{
    background-color: palevioletred;
    color:white;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.main{
    align-content: end;
}
